*{
    font-family: sans-serif;
}
.background {
 
    background: linear-gradient(0.01deg, #15C89E 0.01%, rgba(217, 217, 217, 0) 25.84%);
  padding: 100px ;
  border-radius :10%;
}
.container {
  /* bootstrap */
  max-width: 100%;
  margin: 0 auto;
  padding: 0 px;
}
.content_item_image img {
  width: 100%;
  height: auto;
}
.content_item_image_1 img {
  width: 100%;
  height: auto;
}
.content_item_image_2 img {
  width: 100%;
  height: auto;
}
.content_item_icon_1 img {
  width: 50%;
  height: auto;
}
.content_item_icon_2 img {
  width: 10%;
  height: auto;
  margin-top: 10%;
}
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content_item_textmaster {
  display: inline-block;
  flex-direction: column;
  gap: 10px;
  margin-top: 20%;
}
.content_item_text_1 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: left;
}
.content_item_text_1 p {
  font-size: 20px;
  font-weight: lighter;
  color: #000;
  text-align: left;
}
.content_item_text_2 {
  font-size: 30px;
  font-weight: lighter;
  color: #000;
  text-align: left;
  line-height: 150%;
}
.content_item_2 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.content_item {
  display: grid;
  justify-content: center;
}
/* button */
.content_item_btn {
  justify-content: center;
  margin-top: 8%;
}
.btn_learnmore {
  background-image: linear-gradient(
    to right,
    #2bc0e4 0%,
    #eaecc6 51%,
    #2bc0e4 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* display: block; */
}

.btn_learnmore:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
