.background {

    /* background-image: url("../../assetFaza/Polygon1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;

    z-index: -1; */

}
.container {
/* bootstrap */
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
.content_item_image img {
width: 100%;
height: auto;
}
.content_item_image_1 img {
    width: 100%;
    height: auto;
    }
    .content_item_image_2 img {
        width: 100%;
        height: auto;
        }
.content_item_icon_1 img{
width: 50%;
height: auto;
}
.content_item_icon_2 img{
    width: 10%;
    height: auto;
    margin-top: 10%;
    }
.content1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../assetFaza/Polygon1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;

}
.content2{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.content3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
.content_item_textmaster{
  display: inline-block;
    flex-direction: column;
    gap: 10px;
    margin-top: 20%;

}
.content_item_text_1{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: left;
    

}
.content_item_text_1 p{
    font-size: 20px;
    font-weight: lighter;
    color: #000;
    text-align: left;
    

}
.content_item_text_2 {
    font-size: 30px;
    font-weight: lighter;
    color: #000;
    text-align: left;
    line-height: 150%;
    

}
.content_item_2{
    display: grid;
    justify-content: center;
    align-items: center;
}
.content_item{
    display: grid;
    justify-content: center;
    
}
         /* button */
         .content_item_btn{
                display: grid;
                justify-content: center;
                margin-top: 8%;
         }
.btn_learnmore {
    background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    /* display: block; */
  }

  .btn_learnmore:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 