.container {
  /* bootstrap */
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content_item_image img {
  width: 100%;
  height: auto;
}
.content_item_image_1 img {
  width: 45%;
  height: auto;
}
.content_item_image_2 img {
  width: 100%;
  height: auto;
}
.content_item_imageMaster img {
  width: 100%;
  height: 400px;
  border-radius: 10%;
  object-fit: cover;
}

.content_item_imageMaster {
  display: grid;
  margin: 20px;
}

.content_item_imageMaster_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content_item_icon_1 img {
  width: 50%;
  height: auto;
}
.content_item_icon_2 img {
  width: 10%;
  height: auto;
  margin-top: 10%;
}
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10%;
  gap: 10px;
}

.content2 {
  display: grid;
  border-radius: 20px;
  padding: 70px;
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content3 {
  display: grid;
}
.content_item_textmaster {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  transition: all 0.5s;
}
/* hover */
.content_item_textmaster:hover {
  transition: 0.5s;
  transform: scale(1.1);
  /* ease in */
}
.content_item_textmaster_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.content_item_textmaster_1:hover {
  transition: 0.5s;
  transform: scale(1.1);
  /* ease in */
}
.content_item_textmaster_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content_item_textmaster_2_1 {
  display: grid;
  grid-template-columns: 1fr;
}

.content_item_text_title h1 {
  font-size: 60px;
  font-weight: bold;
  color: #712525;
  font-family: roboto;
  height: 100%;
}
.content_item_text {
  padding: 40px;
  border-radius: 10px;
  margin: 10px;
}
.content_item_text h2 {
  font-size: 35px;
  text-align: left;
}
.content_item_text p {
  text-align: justify;
}
.content_item_text_1 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: left;
}
.content_item_text_1 p {
  font-size: 20px;
  font-weight: lighter;
  color: #000;
  text-align: left;
}
.content_item_text_2 {
  font-size: 30px;
  font-weight: lighter;
  color: #000;
  text-align: left;
  line-height: 150%;
}
.content_item_2 {
  /* display: grid; */
}

.content_item_1 {
  display: grid;
  gap: 60px;
}
/* button */
.content_item_btn {
  display: grid;
  justify-content: center;
  margin-top: 8%;
}

