
.container {
  /* bootstrap */
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(
    181.4deg,
    #289cde -60.65%,
    rgba(40, 222, 178, 0) 98.02%
  );
  padding: 100px;
}
.content_item_text_judul h2{
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  transition: all 0.5s;
}
/* hover */
.content_item_text_judul h2:hover{
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
.content_item_image img {
  width: 100%;
  height: auto;
}
.content_item_image_1 img {
  width: 100%;
  height: auto;

}
.content_item_image_2 img {
  width: 100%;
  height: auto;
}
.content_item_imageMaster img {
  width: 50%;
  height: auto;
  margin: 0 auto;
  
}
.content_item_imageMaster {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 5%;

}
.content_item_imageMaster_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  
}
.content_item_icon_1 img {
  width: 100%;
  height: auto;
}
.content_item_icon_2 img {
  width: 100%;
  height: auto;
  margin: 40px auto;
}
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
    
}
.content2 {


}
.content3 {
  display: grid;
  gap: 20px;
  margin-top: 10%;
}
.content_item_2_judul {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;

}
.content_item_image_judul img{
  width: 100%;
  height: auto;
  transition: all 0.5s;
 

}
.content_item_image_judul img:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.content_item_image{
border: 1px solid #289CDE;
    padding: 10px;
    border-radius: 20px;


}
.content_item_textmaster {
  font-weight: bold;
  color: #198663;
  border : 2px solid #14968e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
height: 100%;
  border-radius: 10px;
  padding: 10px;

  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);


}
.content_item_textmaster_1 {
  font-size: 30px;
  font-weight: lighter;
  color: #198663;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  

  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  font-family: roboto;
  gap: 60px;



   
}
.content_item_textmaster_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content_item_textmaster_2_1 {
  display: grid;
  grid-template-columns: 1fr;
}
.content_item_textmaster h1 {
  display: grid;
  /* padding-top: 50%; */
  font-size: 90px;
}
.content_item_textmaster h2 {
  display: grid;
  font-size: 35px;
}
.content_item_text_1 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: left;
}
.content_item_text_1 p {
  font-size: 20px;
  font-weight: lighter;
  color: #000;
  text-align: left;
}
.content_item_text_2 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: left;
}
/* responsive 423px */
@media screen and (max-width: 423px) {
  .content_item_text_1 {
    font-size: 15px;
  }
  .content_item_text_2 {
    font-size: 15px;
  }
}
/* responsive 768px */
@media screen and (max-width: 768px) {
  .content_item_text_1 {
    font-size: 15px;
  }
  .content_item_text_2 {
    font-size: 15px;
  }
}







