/* 
section h2 {
    color: #23ADD9;
}

.card{
    display: inline-block;
} 
.btn{
    float: right;
}
.modal-body h5{
    margin: 10px 0;
}
.modal-body p{
    color: #23ADD9;
}

.point {

    color: #23ADD9;
   }
   .point pa{
       color: black;
       font-size: 18px;
   }
.back{
    margin-left: -50px;
} */