.row img{
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 640px) {
    .card-body h6{
        font-size: 14px;
    }
    .card-body p{
        font-size: 12px;
    }
    .point{
        width: 40%;
    }
    .row img{
        width: 90%;
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
    }
}