@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto");
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Inter");
}

.App {
  text-align: center;
}

.navbar-bg {
  position: absolute;
  width: 1728px;
  height: 81px;
  left: 0px;
  top: 0px;

  background: linear-gradient(293.41deg, #2cb8e4 4.87%, #28deb2 127.68%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #8b0000;
  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
.row img{
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 960px){

  .card h3{
    font-size: medium;
  }
  .card p{
    font-size: small;
  }
}

@media (max-width: 640px) {

    .card-body h3{
        font-size: 12px;
    }
    .card-body p{
        font-size: 10px;
    }
    .point{
        width: 40%;
    }
    .row img{
        height: 5rem  ;
    }
    .back{
        float: left;
        margin: 0px 10px 10px 10px;
    }
    .modal-dialog{
        margin: auto;
        width: 50%;
    }

    .modal-text p{
        font-size: 14px;
    }
    .modal-text h5{
        font-size: 16px;
    }
    .point h4{
      font-size: 14px;
    }
    .gopay h6{
      font-size: 14px;
    }
}
