*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* responsive mobile */

/* responsive tablet */

/* responsive desktop */
.team{
  
}
.container{
  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-image img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s;
}
/* hover image */
.card-image img:hover {
    transition: 0.5s;
  transform: scale(1.1);
}
.card-content
{
  transition: all 0.5s;
}
.title {
  font-size: 40px;
  font-weight: bold;
  color: #289cde;

  
}
.card{
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    transition: all 0.5s;


}
.card:hover{
    transition: 0.5s;
    transform: scale(1.1);
    /* ease in */
}
/* hover image with card */
.card:hover img {
  transition: 0.5s;
  transform: scale(1.1);

}
/* hover image with text , card */
.card:hover .card-content  {
  transition: 0.5s;
  transform: scale(1.1);
}







